.alert{
    color: var(--color-beige);
    background-color: var(--color-brown);
}

.alert a{
    color: var(--color-beige);
    font-weight: var(--weight-bold);
}

.success{
    background-color: var(--color-green);
}

.error{
    background-color: var(--color-green);
}

.popup{
    display: none;
    position: fixed;
    width: var(--max-desktop-width);
    text-align: left;
    z-index: 100;

    /* Center the element */
    left: 50%;
    transform: translate(-50%, 0);
}

.popup-container{
    /* Shift the popup element upwards */
    top: -50px;
    position: relative;
}

.banner{
    padding: var(--spacing-sm);
}