:root{
    --button-size: 2.5rem;
}

button{
    font-size: var(--text-xs);
    font-weight: var(--weight-semibold);
    letter-spacing: 0.25px;
    color: var(--color-beige);
    background-color: var(--color-brown);
    font-family: var(--font-body);
    border: none;
    border-radius: var(--border-round);
    margin: var(--spacing-lg) 0px;
    padding: var(--spacing-md) var(--spacing-lg);
    cursor: pointer;
}

button[variant=primary]{
    background-color: var(--color-brown);
}

button[variant=primary]:hover{
    background-color: var(--color-brown-dark);
}

button[variant=green]{
    background-color: var(--color-green);
}

button[variant=green]:hover{
    background-color: var(--color-green-dark);
}

.button-wrap{
    margin: var(--spacing-lg) auto;
}

.input-btn{
    height: var(--button-size);
    /* padding: var(--spacing-xs) var(--spacing-xs); */
}

.counter-minus, .counter-plus{
    background-color: transparent;
    color: var(--color-brown);
    margin: 0px;
    padding: 0px;
    width: var(--button-size);
    height: var(--button-size);
}

.counter-minus:hover, .counter-plus:hover{
    background-color: var(--color-beige);
}

.delete-icon-btn{
    padding: var(--spacing-md);
    border-radius: var(--border-rounder);
}

.delete-icon-btn:hover{
    color: var(--color-brown-dark);
    background-color: var(--color-beige);
    cursor: pointer;
}

.search-btn{
    min-width: 24px;
    min-height: 24px;
}

.search-btn:hover{
    color: var(--color-tan);
    cursor: pointer;
}
