:root{
    --spacing-vertical: 14px;
    --spacing-horizontal: 24px;
}

button{
    font-size: var(--text-xs);
    font-weight: var(--weight-semibold);
    color: var(--color-beige);
    background-color: var(--color-brown);
    font-family: var(--font-body);
    border: none;
    border-radius: var(--round-border-md);
    padding: var(--spacing-vertical) var(--spacing-horizontal);
}

button[variant=primary]{
    background-color: var(--color-brown);
}

button[variant=primary]:hover{
    background-color: var(--color-brown-dark);
}

button[variant=green]{
    background-color: var(--color-green);
}

button[variant=green]:hover{
    background-color: var(--color-green-dark);
}

button[type=submit] {
    color: var(--color-brown);
    background-color: transparent;
}