button{
    font-size: var(--text-xs);
    font-weight: var(--weight-semibold);
    color: var(--color-beige);
    background-color: var(--color-brown);
    font-family: var(--font-body);
    border: none;
    border-radius: var(--round-border-md);
    margin: var(--spacing-sm);
    padding: var(--spacing-md) var(--spacing-lg);
}

button[variant=primary]{
    background-color: var(--color-brown);
}

button[variant=primary]:hover{
    background-color: var(--color-brown-dark);
}

button[variant=green]{
    background-color: var(--color-green);
}

button[variant=green]:hover{
    background-color: var(--color-green-dark);
}

.search-btn{
    color: var(--color-beige);
    padding: 0px;
}