:root{
    /*** COLORS ***/
    --color-brown: #493722;
    --color-brown-dark: #372A1A;
    --color-beige: #F8F5F1;
    --color-beige-dark: #F1EBE4;
    --color-tan: #D7CDC1;
    --color-tan-dark: #C2B2A0;
    --color-white: white;

    --color-red: #D93636;
    --color-green: #708C74;
    --color-green-dark: #647D68;
}