:root{
    /*** COLORS ***/
    --color-brown: #493722;
    --color-beige: #F8F5F1;
    --color-beige-shade: #F2ECE3;
    --color-white: white;

    --color-red: #D93636;
    --color-green: #708C74;
}