:root{
    /* BORDER VARIABLES */
    --border-round: 0.625rem;
    --border-rounder: 0.875rem;
    --circle-border: 100%;
    --border-medium: 2px;
    --border-thick: 2.5px;
}

.empty-bg{
    background-color: transparent;
}

.light-bg{
    background-color: var(--color-beige);
}

.shaded-bg{
    background-color: var(--color-beige-dark);
}

.rounded{
    border-radius: var(--border-rounder);
}

.borderless{
    border: none;
}

.bottom-border-light{
    border-bottom: var(--border-medium) solid var(--color-beige-dark);
}

.bottom-border-dark{
    border-bottom: var(--border-medium) solid var(--color-brown);
}

.shadow-dark{
    box-shadow: 0px 4px 14px rgba(84, 62, 40, 0.3);
}

.shadow-light{
    box-shadow: 0px 4px 10px rgba(84, 62, 40, 0.2);
}