/* Footer styles */

footer{
    display: block;
    text-align: center;
    color: var(--color-beige);
    background-color: var(--color-brown);
    padding: var(--spacing-xxl) 10vw;
}

footer a:hover, footer .text-input [type="button"]:hover{
    color: var(--color-tan);
}

footer a, p{
    line-height: 180%;
}

footer a, footer input, footer select, footer textarea{
    color: var(--color-beige);
}

.copyright-div{
    margin-top: var(--spacing-xxl);
}
