/* Styles for images */

.logo img{
    width: 2.25rem;
    height: 2.25rem;
    margin: var(--spacing-xs);
}

.logo img, .brand-img{
    object-fit: contain;
}

.product-img{
    border-radius: var(--border-rounder);
}

#main-product-img{
    max-width: 380px;
}

.listing-img{
    height: 60%;
    max-width: 120px;
}

.cart-item .item-img{
    width: 3.5rem;
    height: 4.5rem;
    object-fit: cover;
}
