input{
    color: var(--color-brown);
    font-size: var(--text-base);
    font-family: var(--font-body);
    background-color: transparent;
    border-style: none;
    padding: var(--spacing-xs) 0px;
    outline: none;
}

::placeholder {
    color: var(--color-tan-dark);
    opacity: 1; /* Firefox */
}

input[type="number"]{
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

input[type="submit"]{
    color: inherit;
    font-weight: var(--weight-semibold);
    cursor: pointer;
}

input[type="button"]{
    font-weight: var(--weight-bold);
}

input[type=radio], input[type=checkbox]{
    margin: var(--spacing-xs);
}

/* input, select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

select{
    border: none;
    border-radius: 0;
    font: inherit;
} */

fieldset{
    text-align: left;
}

.counter {
    display: flex;
    width: 100px;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.counter input{
    width: 24px;
    text-align: center;
}

.dropdown-button, .dropdown-list li{
    padding: var(--spacing-md) var(--spacing-xs);
}

.dropdown-button{
    font-weight: var(--weight-medium);
    color: var(--color-brown);
    background-color: transparent;
    border-bottom: var(--border-thick) solid var(--color-brown);
    flex-direction: row;
    cursor: pointer;
}

.dropdown-button, .option-label{
    display: flex;
    gap: var(--spacing-sm);
    justify-content: space-between;
    align-items: center;
}

.dropdown-button:hover{
    background-color: var(--color-beige-dark);
}

.dropdown-content{
    display: none;
    position: absolute;
    overflow: auto;
    z-index: 1;
    width: 216px;
}

.dropdown-list li{
    background-color: var(--color-white);
    border-bottom: var(--border-medium) solid var(--color-beige-dark);
    cursor: pointer;
}

.dropdown-list li:hover, .dropdown-list li:focus{
    background-color: var(--color-beige);
}

.input-list{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xs);
}

.radio-option{
    padding: var(--spacing-sm) var(--spacing-md);
    cursor: pointer;
}