.flex-row{
    display: flex;
    flex-direction: row;
    gap: var(--spacing-sm);
}

.flex-column{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
}

.justify-left{
    justify-content: flex-start;
}

.justify-center{
    justify-content: center;
}

.align-center{
    align-items: center;
}

.space-between{
    justify-content: space-between;
}

.product-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--spacing-xxl);
}

.listing-grid, #product-filters{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: var(--spacing-sm);
}

.grid-item {
    padding: var(--spacing-md);
}

.product-img-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: var(--spacing-xs);
    padding: var(--spacing-sm) 0px;
}

.cart-items{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xs) 0px;
    margin: var(--spacing-xs) 0px;
}

.cart-item{
    display: grid;
    grid-template-columns: 5rem 1fr 5rem 8rem 5rem 3rem;
    gap: var(--spacing-lg);
    padding: var(--spacing-md) var(--spacing-lg);
    font-weight: var(--weight-medium);
}

.checkout-flex{
    display: flex;
    flex-direction: row;
    gap: var(--spacing-lg);
    align-items: flex-start;
}

.form-details{
    flex-basis: 60%;
    order: 1;
}

.order-details{
    order: 2;
    flex-basis: 40%;
}

.order-summary{
    display: flex;
    flex-direction: column;
    padding: var(--spacing-xl) var(--spacing-lg);
    gap: var(--spacing-lg);
}

