.flex-row{
    display: flex;
    flex-direction: row;
    gap: var(--spacing-sm);
}

.flex-column{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
}

.justify-left{
    justify-content: flex-start;
}

.justify-center{
    justify-content: center;
}

.align-center{
    align-items: center;
}

.space-between{
    justify-content: space-between;
}

.product-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--spacing-2xl);
}

.listing-grid, #product-filters{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: var(--spacing-sm);
}

.grid-item {
    padding: var(--spacing-md);
}

.product-img-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: var(--spacing-xs);
    padding: var(--spacing-sm) 0px;
}
