/* Hyperlink styles */
a{
    color: var(--color-brown);
    text-decoration: none;
}


.link-block{
    padding: var(--spacing-sm);
}

.listing-item{
    text-align: center;
    padding: var(--spacing-sm);
    margin: var(--spacing-xs) 0px;
}

.listing-item .product-name{
    font-weight: var(--weight-medium);
}