/* Hyperlink styles */
a{
    color: var(--color-brown);
    text-decoration: none;
}

.listing-item{
    text-align: center;
    padding: var(--spacing-sm);
    margin: var(--spacing-xs) 0px;
}

.listing-item .product-name{
    font-weight: var(--weight-medium);
}

.tag{
    color: var(--color-beige);
    background-color: var(--color-brown);
    font-weight: var(--weight-medium);
    font-size: var(--text-base);
    border-radius: var(--border-rounder);
    margin: var(--spacing-xs) 0px;
    padding: 6px var(--spacing-sm);
}

.tag:hover{
    background-color: var(--color-brown-dark);
}