/* Import all CSS files */

@import "reset.css";
@import "colors.css";
@import "layout.css";
@import "typography.css";
@import "responsive.css";
@import "animation.css";
@import "effects.css";

/* Import component styles */
@import "header.css";
@import "footer.css";
@import "button.css";
@import "input.css";
@import "surface.css";
@import "tab.css";
@import "table.css";
@import "image.css";
@import "alert.css";
@import "link.css";
@import "pagination.css";
@import "stepper.css";
@import "dialog.css";
@import "icon.css";


header, section{
    text-align: center;
}

section{
    padding: var(--spacing-xxl) 0px;
}

.section-content{
    max-width: var(--max-desktop-width);
    margin: auto; /* center aligns content */
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xl);
}
