/* Import all CSS files */

@import "reset.css";
@import "colors.css";
@import "layout.css";
@import "spacing.css";
@import "typography.css";
@import "responsive.css";
@import "animation.css";
@import "effects.css";

/* Import component styles */
@import "nav.css";
@import "footer.css";
@import "table.css";
@import "button.css";
@import "input.css";
@import "listing.css";
@import "surface.css";
@import "tab.css";
@import "image.css";
@import "alert.css";
@import "link.css";


header, section{
    text-align: center;
}

section{
    padding: var(--spacing-2xl) 0px;
}

.slideshow-gallery{
    color: var(--color-beige);
    height: 36rem;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slideshow-gallery h1{
    /* center text on top of gallery image */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.section-content{
    max-width: var(--max-desktop-width);
    margin: auto; /* center aligns content */
}

.brand-item{
    width: 9.75rem;
    height: 5rem;
}

.logo{
    font-family: var(--font-serif);
    font-size: var(--text-xs);
}