/* Import all CSS files */

@import "reset.css";
@import "colors.css";
@import "layout.css";
@import "spacing.css";
@import "typography.css";
@import "responsive.css";
@import "animation.css";

/* Import component styles */
@import "nav.css";
@import "footer.css";
@import "button.css";
@import "form.css";

:root{
    /* BORDER VARIABLES */
    --round-border-md: 10px;
    --round-border-lg: 14px;
}

/* .rounded{
    border-radius: 14px;
} */

header, section{
    display: block;
    text-align: center;
}

section{
    padding: var(--padding-xl) 0px;
}

/* .slideshow-gallery{
    width: 100vw;
} */

img{
    display: block;
    max-width: 100vw;
}

.section-content{
    max-width: var(--max-desktop-width);
    margin: auto; /* center aligns content */
}

.alert-banner{
    color: var(--color-beige);
    background-color: var(--color-green);
}