nav{
    width: 100%;
}

#top-nav{
    background-color: var(--color-brown);
    height: 5rem;
    position: fixed;
    z-index: 1;
}

.nav-link{
    color: var(--color-beige);
}

.nav-link:hover{
    color: var(--color-tan);
}

#main-nav{
    height: 3.75rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--color-tan);
}

.main-nav-link{
    height: 100%;
    width: 100%;
}

.main-nav-link:hover{
    background-color: var(--color-beige-dark);
}