nav{
    /* styles for both top and main nav bars */
    width: 100vw; /* width of the whole viewport */
}

#top-nav{
    background-color: var(--color-brown);
}

#top-nav a{
    color: var(--color-beige);
}

#main-nav{
    background-color: var(--color-tan);
}
