nav{
    width: 100vw;
}

#top-nav{
    color: var(--color-beige);
    background-color: var(--color-brown);
    position: fixed;
    z-index: 1;
    padding: var(--spacing-xs) 0px;
    justify-content: space-between;
}

/* change link and input colors to white */
#top-nav a, #top-nav input, #top-nav select, #top-nav textarea{
    color: var(--color-white);
}

#top-nav a:hover{
    color: var(--color-tan);
}

nav, #top-nav > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--spacing-xs);
}

/* navigation for instrument categories */
#main-nav{
    justify-content: center;
    flex-wrap: wrap; /* menu items go onto a new line if needed */
    background-color: var(--color-tan);
}

#main-nav a:hover{
    background-color: var(--color-beige-dark);
}

.nav-link{
    padding: var(--spacing-md) var(--spacing-lg);
    font-weight: var(--weight-medium);
}

#cart-btn{
    position: relative;
}

#cart-quantity{
    /* hide cart notification badge initially */
    display: none;
}

.notification-badge {
    display: flex;
    align-items: center;
    width: 16px;
    height: 16px;
    border-radius: var(--circle-border);
    background-color: var(--color-red);
    justify-content: center;
    font-size: 0.625rem;

    /* fix position relative to cart icon */
    position: absolute;
    top: 8px;
    right: 18px;
}

.logo {
    display: flex;
    align-items: center;
    margin: 0px var(--spacing-xs);
}

.logo label{
    font: var(--text-xs) var(--font-serif);
    text-align: left;
    letter-spacing: 0.02rem;
    cursor: pointer;
}