.pagination{
    display: inline-flex;
    justify-content: center;
    margin: var(--spacing-md);
}

.pagination a{
    display: inherit;
    justify-content: center;
    align-items: center;
    color: var(--color-tan-dark);
    background-color: var(--color-white);
    font-weight: var(--weight-medium);
    border: 2px solid var(--color-beige-dark);
    width: var(--button-size);
    height: var(--button-size);
}

.pagination a:hover{
    background-color: var(--color-beige);
}

.pagination a.active{
    color: var(--color-brown);
    background-color: var(--color-beige-dark);
}

.pagination-prev {
    border-radius: var(--round-border-lg) 0px 0px var(--round-border-lg);
}

.pagination-next {
    border-radius: 0px var(--round-border-lg) var(--round-border-lg) 0px;
}