:root{
    --max-desktop-width: 900px;
}

@media screen and (max-width: 750px) {
    /* Hide all the nav links */
    #top-nav .nav-links .nav-link, #main-nav{
        display: none;
    }
    /* Show the hamburger menu */
    #top-nav .nav-links #hamburger-nav{
        display: block;
    }
    .main-content{
        margin-top: var(--spacing-xxl);
    }
    /* Reduce spacing in sections */
    section{
        padding: var(--spacing-xl) 0px;
    }
    .section-content{
        gap: var(--spacing-xl);
    }
    .stepper-wrap{
        margin-top: var(--spacing-md);
    }
}

@media screen and (max-width: 700px) {
    .checkout-flex{
        flex-direction: column;
        align-items: center; /* can also stretch ?*/
    }
    .form-details, .order-details{
        flex-basis: 100%;
        margin: var(--spacing-sm);
    }
    .form-step{
        padding: var(--spacing-xl) var(--spacing-lg);
        gap: var(--spacing-lg);
    }
}

@media screen and (max-width: 500px) {
    /* Narrow the search bar to just one icon */
    #search-form #search {
        display: none;
    }
    #search-form .bottom-border-light {
        border-bottom: none;
    }
}
