:root{
    --spacing-xs: 0.5rem; /* 8px */
    --spacing-sm: 0.625rem; /* 10px */
    --spacing-md: 0.875rem; /* 14px */
    --spacing-lg: 1.5rem; /* 24px */
    --spacing-xl: 3rem; /* 48px */
    --spacing-xxl: 4.5rem; /* 72px */
}
