.stepper-wrap{
    margin-top: var(--spacing-2xl);
    text-align: center;
    position: relative;
}

.stepper{
    max-width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.step{
    width: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;

    /* this changes when active */
    color: var(--color-tan-dark);
}

.step label{
    /* smaller label size */
    font-size: 0.75rem;
}

.step-number {
    height: 2rem;
    width: 2rem;
    font-weight: var(--weight-semibold);
    font-size: var(--text-xs);
    color: var(--color-beige);
    border-radius: var(--circle-border);
    display: inline-flex;
    vertical-align: middle;
    margin: var(--spacing-xs);
    border: var(--border-medium) solid var(--color-beige);

    /* this changes when active */
    background-color: var(--color-tan);
}

.stepper, .step-number p{
    /* center the stepper element horizontally and vertically */
    margin: auto;
}

.stepper-line{
    width: 400px;
    height: 2px;
    background-color: var(--color-tan);
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%, 0%);
    z-index: -1;
}

.form-step{
    display: none;
    flex-direction: column;
    padding: var(--spacing-xl);
    gap: var(--spacing-xl);
}