.white-surface {
    background-color: var(--color-white);
    border: 2px solid var(--color-beige-dark);
    border-radius: var(--round-border-lg);
}

/* .white-surface:hover {
    border: 2px solid var(--color-tan);
} */