.white-surface{
    background-color: var(--color-white);
    border: var(--border-medium) solid var(--color-beige-dark);
    border-radius: var(--border-rounder);
}

a.white-surface:hover{
    border: var(--border-medium) solid var(--color-tan);
}