@import url('https://fonts.googleapis.com/css?family=Fraunces:400,700');
@import url('https://fonts.googleapis.com/css?family=Commissioner:300,400,500,600,700,800');

:root{
    --font-body: 'Commissioner', sans-serif, -apple-system, BlinkMacSystemFont;
    --font-serif: 'Fraunces', serif;
    --weight-extrabold: 800;
    --weight-bold: 700;
    --weight-semibold: 600;
    --weight-medium: 500;
    --weight-regular: 400;
    --weight-light: 300;

    --text-2xl: 3rem;
    --text-xl: 2rem;
    --text-lg: 1.625rem;
    --text-md: 1.375rem;
    --text-sm: 1.125rem;
    --text-xs: 1rem;
    --text-base: 0.9rem;
}

body{
    font-size: var(--text-base);
    color: var(--color-brown);
    font-family: var(--font-body);
    background-color: var(--color-beige);
}

h1{
    font-size: var(--text-2xl);
    font-family: var(--font-serif);
    font-weight: bold;
}

h2{
    font-size: var(--text-xl);
}

h3{
    font-size: var(--text-lg);
}

h4{
    font-size: var(--text-md);
    line-height: 140%;
}

h5{
    font-size: var(--text-sm);
}

h6{
    font-size: var(--text-xs);
    letter-spacing: 0.01rem;
}

h2, h3, h4, h5, h6{
    font-weight: var(--weight-semibold);
    margin: var(--spacing-sm) 0px;
}

p, a{
    font-size: var(--text-base);
    line-height: 150%;
}

em, b, .text-bold{
    font-weight: bold;
}

.text-light{
    font-weight: var(--weight-light);
}

.text-semibold{
    font-weight: var(--weight-semibold);
}

.text-extrabold{
    font-weight: var(--weight-extrabold);
}


.uppercase{
    text-transform: uppercase;
}

.capitalize{
    text-transform: capitalize;
}

.left-align{
    text-align: left;
}
