@import url('https://fonts.googleapis.com/css?family=Fraunces:400,700');
@import url('https://fonts.googleapis.com/css?family=Commissioner');

:root{
    --font-body: 'Commissioner', sans-serif;
    --font-deco: 'Fraunces', serif;
}

body{
    color: var(--color-brown);
    font-family: var(--font-body);
    background-color: var(--color-beige);
}

h1{
    font-family: var(--font-deco);
    font-weight: bold;
    text-transform: capitalize;
}

h2{
    font-weight: bold;
}

h3{
    font-weight: bold;
}

/* Hyperlink styles */
a{
    color: var(--color-brown);
}